#headerForm(style="background: white;", ng-show="showForm")
	a(ng-click="toggleForm()") close
	.form
		span רוצה להתקדם למשפחתית אמיתית? השאר פרטים
		form
			input(type="text", name="firstname", ng-model="form.firstname", placeholder="first name")
			input(type="text", name="lastname", ng-model="form.lastname", placeholder="last name")
			input(type="number", name="phone", ng-model="form.phone", placeholder="phone")
			input(type="email", name="email", ng-model="form.email", placeholder="email")
			input(type="radio", id="radio_1", ng-model="form.type", value="private")
			label(for="radio_1") private
				.icon
			input(type="radio", id="radio_2", ng-model="form.type", value="business")
			label(for="radio_2") business
				.icon
			input(type="submit", value="submit", ng-click="formSubmit()")
.timedWrapper(ui-if="contentLoaded")
	#articles(ui-isotope, options='{"itemSelector":".article", "animationEngine":"best-available", "masonry": { "columnWidth": 220, "gutterWidth": 20} }')
		.article(ng-repeat="article in articles", rel="{{article.categories}}", iso-item, id="item_{{$index}}", ng-class="getCategory($index)")
			.disabled
			.mask
			.hover.hidden-phone.hidden-tablet.bind
				.hovercontent 
					.text {{article.preview.link.text}}
					button לחצו כאן
			.mobile.hidden-desktop.bind 
				.text {{article.preview.link.text}}
			.preview(class="size{{article.preview.size}}")
	.clr
.totop(ui-scrollfix="+20")
	a.butt(ng-click="console.log('up')") up