.timedWrapper(ui-if="contentLoaded")
	#articles(ui-isotope, options='{"itemSelector":".article", "animationEngine":"best-available", "masonry": { "columnWidth": 220, "gutterWidth": 20} }')
		.article(ng-repeat="article in articles", rel="{{article.categories}}", iso-item, id="item_{{$index}}")
			.hover(style="display:none;") {{article.preview.link.text}}
			.preview(class="size{{article.preview.size}}", ng-class="getCategory($index)")
	.clr