//* VARS *//
	@size: 148px;
	@margin: 4px;
//* MIXINS *//
.size(@width: 1, @height: 1, @size:150px, @margin:5px) {
	width: @width*@size + (@margin * (@width - 1));
	height: @height*@size + (@margin * (@height - 1));
}

.clear {
	clear: both;
}
.page {
	width: 940px;
	margin: 0 auto;
	background: white;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }
}
//* MIXINS *//

//* COLORS *//

// * CSS *//

html {
	//background:  url(../images/main_bg_pat.png);
	&.pop {
		background: #011520;
	}
}
body {
	background: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: normal;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: #ffe821;
}

#wrapper {
	//background: transparent url(../images/main_bg.png) no-repeat top left;
	height: 700px;
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

#listWrapper {
	.itemInList {
		width:300px;					
		height: 70px;
		//border-radius: 15px;
		cursor:move;		
		.data {						
			color:#fff;
		}
		.move {
			position: absolute;
			top: 5px;
			right:5px;
			color:yellow;
		}
	}
	// li {
	//     //padding-left: 5px;
	//     list-style-type: none;
	//     .fontSize(12);
	//     border: 1px solid #999;	    
	//     margin-top: 5px;
	//     cursor: move;
	// }
}

#closedEditorWrapper {
	position: relative;
	top:0px;
	width: 940px;
	height: 589px;
	border:solid #ccc 1px;
	overflow: hidden;
	#upperForm {
		position: relative;
		width:478px;
		height: 107px;
		border-bottom: solid #ccc 1px;
		border-left: solid #ccc 1px;
		float:right;
		.colorPicker {
			position: absolute;
			top:20px;
			left: 20px;
		}
		.name {
			position: absolute;
			top:5px;
			left: 10px;	
			width:225px;
		}
		.type {
			position: absolute;
			top:30px;
			left: 135px;	
			width: 100px;
		}
		.size {
			position: absolute;
			top:55px;
			left: 135px;	
			width: 100px;
		}		
		.linkType {
			position: absolute;
			top:80px;
			left: 135px;	
			width: 100px;
		}
		.linkUrl {
			position: absolute;
			top:80px;
			left: 240px;	
			width: 235px;
		}
		.linkTitle {
			position: absolute;
			top:55px;
			left: 240px;	
			width: 235px;
		}
		.color {
			position: absolute;
			top:30px;
			left: 240px;	
			width: 100px;
		}
		.categories {
			position: absolute;
			top:30px;
			left: 10px;
			width:120px;
		}
	}
	#leftSide {
		position: relative;
		float:left;
		width:460px;			
		#textPreview {
			-webkit-transition-property: background-color;
    		-webkit-transition-duration: 0.5s;
		}
		#flashPreview {
			position: relative;
			width:100%;
			height: 100%;
			.flashForm {
				position:relative;
				width:100%;
				height: 80px;
				.uploadButton {
					position:relative;					
					margin:0 auto; 
					top:20px;
					display:block;
				}
			}	
			#previewSwfs {
				position: absolute;
				top:80px;
				width:100%;
				height: 507px;
				overflow-x:hidden;
				overflow-y:scroll;				
				.previewSwf {
					width:100%;					
					height: 70px;	
					.select {
						position: absolute;
						top:5px;
						right:5px;
					}
					.view {
						position: absolute;
						bottom:5px;
						right:5px;
					}				
					.data {						
						color:#fff;
						font-size:12px;		
						.params {
							input {
								width:85%;
							}
						}				
					}
				}
			}
		}	
		#iframePreview {
			position: relative;
			width:100%;
			height: 100%;			
		}
		#imagePreview {
			.previewImages {
				width:100%;
				height: 535px;
				overflow-x:hidden;
				overflow-y:scroll;
				.previewImage {
					width:100%;										
					.removeImage {
						position: absolute;
						top:5px;
						right: 5px;
						cursor:pointer;
					}
					.move {
						position: absolute;
						top:5px;
						right: 25px;
						cursor:pointer;	
					}
					.data {
						color: #fff;
					}
				}
			}
		}
	}
	#rightSide {
		position: relative;
		float:right;
		width:478px;
		height: 480px;		
		border-left: solid #ccc 1px;		
		#previewDisplay {
			position: relative;
			outline:solid #ccc 1px;
			margin: 0 auto;									
			overflow: hidden;
			-webkit-transition-property: height, width, margin, background-color;
    		-webkit-transition-duration: 0.5s;
			.original {
				position:absolute;
				top:0px;
				left:0px;				
				clear:both;
				font-size: 13px;
				direction: rtl;
				p {
					font-size: 13px;
					padding:0;
					margin:0;
					line-height: normal;
				}
			}
			.hover {
				position:absolute;
				top:0px;
				left:0px;								
				background-image: url('../images/transparent.png');
				display:none;
				z-index: 100;	
				cursor: pointer;			
				.content {										
					color:#fff;		
					width:100%;								
					text-align: center;					
					display:table-cell;
					vertical-align: middle;
					font-size:20px;
					button {
						color:#fff;
						background-color: #4aa82e;
						font-size:20px;
						width: 112px;
						height: 35px;						
						margin-right: 0px !important;
					}
				}
			}
		}
		#previewDisplay:hover {
			&.linked {
				.hover {					
					display:table;
				}
			}
		}
	}
}

#listsPreviewWrapper {
	position: relative;
	float:right;
	// right:50px;
	// top:20px;
	width:616px;		
	#listsIsotope {		
		.listItem {
			display:table;
			margin-bottom:5px;
			border:solid #ccc 1px;						
			&.size1x1 {
				.size(1,1);
			}
			&.size1x2 {
				.size(1,2);
			}
			&.size2x1 {
				.size(2,1);
			}
			&.size2x2 {
				.size(2,2);
			}
			.name {
				position: absolute;
				width: 100%;
				text-align: center;		
				bottom:5px;		
			}	
			.edit {
				position: absolute;								
				top:5px;				
				left:5px;
				z-index: 5;				
				a {
					color:#00a300;
				}
				a:hover {
					color:red;					
				}
			}					
			.iconWrapper {			
				position: relative; 				
				text-align: center;					
				display:table-cell;
				vertical-align: middle;
				width:100%;
			}
			&.disabled {
				opacity:0.4;
			}
			&.enabled {
				opacity:1;
			}
		}
	}
}

#openEditorWrapper {
	position: relative;
	top:0px;
	width: 940px;
	height: 765px;
	overflow: hidden;
	border: solid #ccc 1px;
	#upperTypeForm {
		position: relative;
		width: 701px;
		height: 300px;
		float:left;
		border-right: solid #ccc 1px;		
		-webkit-transition-property: width, border;
    	-webkit-transition-duration: 0.5s;    	
		#videoContent {
			position: relative;
			width:100%;
			height: 100%;
			clear:both;
			input {
				position:relative; 				
				text-align: center;				
				width:200px;
				margin:0 auto;
				margin-top:50px;
				display:block;
			}			
			button {
				
				position:relative;
				margin:0 auto; 
				margin-top:20px;
				display:block;
			}
			span {				
				position:relative; 				
				width: 100%;
				margin-top:20px;	
				text-align: center;						
				display:block;				
			}
		}
		#flashContent {
			position: relative;
			width:100%;
			height: 100%;
			.flashForm {
				position:relative;
				width:100%;
				height: 80px;
				.uploadButton {
					position:relative;					
					margin:0 auto; 
					top:20px;
					display:block;
				}			
			}
			#contentSwfs {
				position: absolute;
				top:80px;
				width:100%;
				height: 220px;
				overflow-x:hidden;
				overflow-y:scroll;				
				.contentSwf {
					width:100%;					
					height: 70px;					
					.select {
						position: absolute;
						top:5px;
						right:5px;
					}
					.view {
						position: absolute;
						bottom:5px;
						right:5px;
					}				
					.data {						
						color:#fff;
						font-size:12px;	
						.params {
							input {
								width:90%;
							}
						}						
					}
				}
			}
		}
		#iframeContent {
			position: relative;
			width:100%;
			height: 100%;				
			input {
				position:relative; 
				margin:0 auto; 
				margin-top:50px; 
				width:80%; 
				display:block;
			}
			button {
				position:relative;
				margin:0 auto; 
				margin-top:20px;
				display:block;
			}	
		}
		#imageContent {
			.previewImages {
				width:100%;
				height: 247px;
				overflow-x:hidden;
				overflow-y:scroll;
				.previewImage {
					width:100%;										
					.removeImage {
						position: absolute;
						top:5px;
						right: 5px;
						cursor:pointer;
					}
					.move {
						position: absolute;
						top:5px;
						right: 25px;
						cursor:pointer;	
					}
					.data {
						color: #fff;
					}
				}
			}
		}
	}
	#upperFormContent {
		position: relative;
		width: 237px;
		height: 300px;
		float:left;				
		.type {
			position: absolute;
			top:10px;
			left: 10px;	
			width: 100px;
			select {
				width:100px;
			}
		}
		.color {
			position: absolute;
			top:40px;
			left: 10px;	
			width: 100px;
			select {
				width:100px;
			}
		}	
		.title {
			position: absolute;
			top:70px;
			left: 10px;	
			width: 220px;
			input {
				width:220px;
			}
		}
		.description {
			position: absolute;
			top:100px;
			left: 10px;	
			width: 220px;
			textarea {
				width:220px;
				height: 125px;
			}
		}
		.readMore {
			position: absolute;
			top:235px;
			left: 10px;
			width: 220px;
			.title {
				position: absolute;
				top:0px;
				left: 0px;
			}
			.url {
				position: absolute;
				top:30px;
				left: 0px;
			}
			input {
					width:220px;
			}
		}

	}
	#contentDisplay {
		position: relative;
		width:940px;
		height:463px;
		clear:both;		
		border-top: solid #ccc 1px;
		#rightSide {
			position: absolute;
			width:240px;
			height: 464px;
			border-left: solid #ccc 1px;
			top:0px;
			right:0px;
			background: url('../images/content_head.png') no-repeat right top;				
			.header {
				position: relative;
				width:200px;
				height: 49px;
				border-bottom: solid #a1a1a1 1px;
				text-align: right;
				margin:0 auto;						
			}
			.title {
				position: relative;
				width:240px;	
				font-size:25px;
				line-height: 20px;				
				text-align: right;
				direction: rtl;
				padding-right:20px;
				padding-left:20px;
				margin-top: 20px;
			}
			.description {
				position: relative;
				width:240px;
				font-size:13px;
				text-align: right;
				direction: rtl;
				padding-right:20px;
				padding-left:20px;
				//margin-top: 20px;
			}
			pre {
				background: none;
				border:none;		
				color:#000;		
			}
			.readMore {
				position: relative;
				width:240px;				
				text-align: right;
				direction: rtl;
				padding-right:20px;
				padding-left:20px;
				//margin-top: 20px;				
				a {
					font-size:13px;
					color: #00a300;
					text-decoration: underline;	
				}
			}
		}
		#leftSide {
			position: absolute;
			width:700px;
			height: 464px;			
			top:0px;
			left:0px;
			#textContent {
				-webkit-transition-property: background-color;
    			-webkit-transition-duration: 0.5s;
    			margin-top: -1px;    			
			}
			#contentPreviewDisplay {
				position: relative;
				outline:solid #ccc 1px;
				margin: 0 auto;			
				overflow: hidden;				
				-webkit-transition-property: background-color;
    			-webkit-transition-duration: 0.5s;	
				.original {
					position:absolute;
					top:0px;
					left:0px;					
					p {
						padding:0;
						margin:0;
						line-height: normal;
						font-size: 13px;
					}
				}
			}
		}
	}
}

#uploadNewSwf {	
	text-align: center;
	height: 70px;
	.import {
		button {
			margin-top:10px;
		}
	}	
}

#saveCategory {
	width:100%;
	text-align: center;
	margin-top:10px;
	input {		
		width:200px;
		text-align: center;
	}
	button {		

		margin-top:5px;
	}
}

.fullWidth {
	width:100%;
}

.noBorder {
	border:none;
}

.placeHolderWhite::-webkit-input-placeholder{
	color:#fff;
}

.colorPicker {
	width:60px;
	height: 60px;
	cursor:pointer;
	border: solid #ccc 1px;
}

#mainFilters {
	position: relative;
	width:100%;
	height: 70px;
	margin-top:10px;
	a {
		position: absolute;			
		right:-9px;
	}
	.freeText {
		position: absolute;
		font-size:12px;
		left:0px;
		top:0px;
		span {			
			color:#00a300;
		}
		input {
			position: absolute;			
			top:25px;
			left:0px;
			width:250px;
		}
	}
	.previewType {
		position: absolute;
		font-size:12px;
		left:330px;
		top:0px;
		span {			
			color:#00a300;
		}
		select {
			position: absolute;			
			left:135px;
			width:80px;
		}
	}
	.contentType {
		position: absolute;
		font-size:12px;
		left:330px;
		top:25px;
		span {
			color:#00a300;
		}
		select {
			position: absolute;			
			left:135px;
			width:80px;
		}	
	}
	.status {
		position: absolute;
		font-size:12px;
		left:330px;
		top:50px;
		span {
			color:#00a300;
		}
		select {
			position: absolute;			
			left:135px;
			width:80px;
		}
	}
	.categories {
		position: absolute;
		top:0px;
		left:570px;
		font-size:12px;		
		span {
			color:#00a300;
		}
		select {
			position: absolute;			
			left:135px;
			width:80px;
		}
	}
}

.font12 {
	font-size:12px;
}

.white {
	color:#fff;
}

.red {
	color: #b91d47;
}

.yellow {
	color: yellow;
}

.green {
	color: #00a300;
}

.blue {
	color:#2d89ef;
}

.bold {
	font-weight: bold;
}

.center {
	text-align:center;
}

.link {
	cursor:pointer;
}

.unlink {
	cursor:default !important;
}

.fontSize(@px:12px) {
	font-size:@px;
}

.paginationWrapper {
	position: relative;	
	width:100%;	
}
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#343434;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;background-color: #4aa82e !important; cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}

tr {
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;  
  max-height: 50px; /* 1000px works too */
  overflow: hidden;  
}
/* The 'hidden' state to transition from & to */
tr.ui-animate {
  opacity: 0;
  max-height: 0;
  padding: 0 5px;
}

.trToUl {
	display: ul;
}

.tdToLi {
	display: li;
}

.ui-show {	
	transition: all 0.5s ease; // You should probably browser-prefix this
}
.ui-hide {
	opacity: 0;
	transition: all 0.5s ease; // You should probably browser-prefix this
}

.animate {
	display: block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.animate .ui-show {
	
}
.animate.ui-hide {
	opacity: 0;	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-height: 0;
}

.alfi {
	font-family: 'alfi regular';
	&.bold {		
		font-family: 'alfi bold';		
	}
}

@import 'sliderjs.less';
@import 'isotope.less';
@import 'fonts.less';