.clear {
	clear: both;
}
.page {
	width: 940px;
	margin: 0 auto;
	background: white;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
}
//* MIXINS *//

//* COLORS *//

// * CSS *//

html {
	background:  url(../images/main_bg_pat.png);
	&.pop {
		background: #011520;
	}
}
body {
	background: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: #ffe821;
}

#wrapper {
	background: transparent url(../images/main_bg.png) no-repeat top left;
	height: 700px;
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

#listWrapper {
	li {
	    padding: 5px;
	    border: 1px solid #999;
	    background: #eee;
	    margin: 5px;
	    cursor: move;
	}
}

#closedEditorWrapper {
	position: relative;
	width: 900px;
	height: 415px;
	#leftSide {
		position: absolute;
		top:0px;
		left:0px;
		width:700px;				
	}
	#rightSide {
		position: absolute;
		top:0px;
		right:0px;
		width:200px;
		height: 415px;
		border: solid #ccc 1px;
	}
}

#openEditorWrapper {
	position: relative;
	width: 900px;
	height: 415px;
	#leftSide {
		position: absolute;
		top:0px;
		left:0px;
		width:700px;				
	}
	#rightSide {
		position: absolute;
		top:0px;
		right:0px;
		width:200px;
		height: 415px;
		border: solid #ccc 1px;
	}
}

.colorPicker {
	width:24px;
	height: 24px;
	cursor:pointer;
	border: solid #ccc 1px;
}

.colorPicker_1 {
	background-color: white;
}

.colorPicker_2 {
	background-color: gray;
}

.colorPicker_3 {
	background-color: green;
}