.clear {
	clear: both;
}
.page {
	width: 940px;
	margin: 0 auto;
	background: white;
}

@media (min-width: 768px) and (max-width: 979px) {
    .page {
        width: 724px;
    }
    .hero-unit > img {
        zoom: .6;
    }
    .browsers-icons img {
        zoom: .8;
    }
}

@media (max-width: 767px) {
    .page {
        width: 100%;
    }
}
//* MIXINS *//

//* COLORS *//

// * CSS *//

html {
	background:  url(../images/main_bg_pat.png);
	&.pop {
		background: #011520;
	}
}
body {
	background: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: #ffe821;
}

#wrapper {
	background: transparent url(../images/main_bg.png) no-repeat top left;
	height: 700px;
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

#listWrapper {
	li {
	    //padding-left: 5px;
	    list-style-type: none;
	    .fontSize(12);
	    border: 1px solid #999;	    
	    margin-top: 5px;
	    cursor: move;
	}
}

#closedEditorWrapper {
	position: relative;
	width: 940px;
	height: 600px;
	border:solid red 1px;
	#upperForm {
		position: relative;
		width:100%;
		height: 100px;
		border: solid blue 1px;
		.colorPicker {
			position: absolute;
			top:20px;
			left: 20px;
		}
		.name {
			position: absolute;
			top:20px;
			left: 100px;	
		}
		.type {
			position: absolute;
			top:50px;
			left: 100px;	
		}
	}
	#leftSide {
		position: relative;
		float:left;
		width:700px;				
	}
	#rightSide {
		position: relative;
		float:right;
		width:200px;
		height: 415px;
		border: solid #ccc 1px;
	}
}

#openEditorWrapper {
	position: relative;
	width: 940px;
	height: 415px;
	#leftSide {
		position: absolute;
		top:0px;
		left:0px;
		width:700px;				
	}
	#rightSide {
		position: absolute;
		top:0px;
		right:0px;
		width:200px;
		height: 415px;
		border: solid #ccc 1px;
	}
}

#uploadNewSwf {
	text-align: center;
}

#newArticleButton {
	width:100%;
	margin-top:10px;
	text-align: center;	
}

.colorPicker {
	width:60px;
	height: 60px;
	cursor:pointer;
	border: solid #ccc 1px;
}

.colorPicker_1 { // white
	background-color: #ffffff;
}

.colorPicker_2 { // gray
	background-color: #8c9299;
}

.colorPicker_3 { // green
	background-color: #4aa82e;
}

.font12 {
	font-size:12px;
}

.white {
	color:#fff;
}

.red {
	color: #b91d47;
}

.bold {
	font-weight: bold;
}

.center {
	text-align:center;
}

.link {
	cursor:pointer;
}

.fontSize(@px:12px) {
	font-size:@px;
}

.paginationWrapper {
	position: relative;	
	width:100%;	
}
.pagination{margin:20px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination ul>li{display:inline;}
.pagination ul>li>a,.pagination ul>li>span{float:left;padding:4px 12px;line-height:20px;text-decoration:none;background-color:#ffffff;border:1px solid #dddddd;border-left-width:0;}
.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span{background-color:#343434;}
.pagination ul>.active>a,.pagination ul>.active>span{color:#999999;background-color: #4aa82e !important; cursor:default;}
.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus{color:#999999;background-color:transparent;cursor:default;}
.pagination ul>li:first-child>a,.pagination ul>li:first-child>span{border-left-width:1px;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.pagination ul>li:last-child>a,.pagination ul>li:last-child>span{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pagination-large ul>li>a,.pagination-large ul>li>span{padding:11px 19px;font-size:17.5px;}
.pagination-large ul>li:first-child>a,.pagination-large ul>li:first-child>span{-webkit-border-top-left-radius:6px;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-webkit-border-bottom-left-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;}
.pagination-large ul>li:last-child>a,.pagination-large ul>li:last-child>span{-webkit-border-top-right-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
.pagination-mini ul>li:first-child>a,.pagination-small ul>li:first-child>a,.pagination-mini ul>li:first-child>span,.pagination-small ul>li:first-child>span{-webkit-border-top-left-radius:3px;-moz-border-radius-topleft:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-moz-border-radius-bottomleft:3px;border-bottom-left-radius:3px;}
.pagination-mini ul>li:last-child>a,.pagination-small ul>li:last-child>a,.pagination-mini ul>li:last-child>span,.pagination-small ul>li:last-child>span{-webkit-border-top-right-radius:3px;-moz-border-radius-topright:3px;border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomright:3px;border-bottom-right-radius:3px;}
.pagination-small ul>li>a,.pagination-small ul>li>span{padding:2px 10px;font-size:11.9px;}
.pagination-mini ul>li>a,.pagination-mini ul>li>span{padding:0 6px;font-size:10.5px;}