#header {
	position: fixed;
	top: 0;
	min-height: 171px;
	width: 100%;
	z-index: 2;
	background: white;
	background: @green url(../images/nav_bg.png) repeat-x;
	&.ui-scrollfix {
	}
	#nav {
		position: relative;
		max-width: 940px;
		min-width: 460px;
		min-height: 171px;
		margin: 0 auto;
		background: transparent url(../images/nav_logo.png) no-repeat top right;
		padding: 0;
		text-align: center;
		#title {
			background: transparent url(../images/header_title.png) no-repeat center center;
			display: block;
			width: 280px;
			height: 29px;
			position: relative;
			top: 100px;
			width: 100%;
		}
		ul {
			display: inline-block;
			position: relative;
			padding: 0;
			margin: 98px auto 0 auto;
			li {
				list-style-type: none;
				float: right;
				font-size: 22px;
				font-family: 'alfi bold';
				min-height: 30px;
				line-height: 30px;
				> ul {
					margin: 0 auto;
					li {
						height: 30px;
						line-height: 30px;
					}
					#lbl_0 {
						display: none;
					}
				}
			}
		}
		.toggleForm {
			width: 121px;
			height: 71px;
			background: transparent url(../images/form_toggle.png) no-repeat center center;
			position: absolute;
			top: 58px;
			left: 0;
			cursor: pointer;
		}
	}
}