@media (min-width: 780px) and (max-width: 1020px) {
  body {
    padding: 0;
    max-width: 780px;
  }
}
@media (max-width: 540px) {
  html, body {
    padding: 0;
    max-width: 540px;
  }
  #articles .article.content > .content {
    max-width: 460px;
    background: red;
  }
}

@media (min-width: 1020px) {
  #articles .article.content > .content {
    min-width: 938px;
    background: red;
  }
}
