//* VARS *//
	@size: 220px;
	@margin: 5px;
//* MIXINS *//
.size(@width: 1, @height: 1, @size:220px, @margin:5px) {
	margin: @margin;
	width: @width*@size + (@margin * 2 * (@width - 1));
	height: @height*@size + (@margin * 2 *(@height - 1));
}

//* COLORS *//

// * CSS *//

html {
	&.pop {
		background: #011520;
	}
}
body {
	background: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: #ffe821;
}
.clr {
	clear:both;
}

#wrapper {
	margin: 0 auto;
	width: 1020px;
	position: relative;
}

#articles {
	width: 940px;
	margin: 0 auto;
	outline: green solid 1px;
}
.article {
	.preview {
		//margin: 5px;
		outline: blue solid 1px;
		&.size1x1 {
			.size(1,1);
		}
		&.size1x2 {
			.size(1,2);
		}
		&.size2x1 {
			.size(2,1);
		}
		&.size2x2 {
			.size(2,2);
		}
		&.linked {
			cursor: pointer;
		}
		&.unlinked {
			cursor: default;
		}
		&.disabled {
			background: #ddd;
		}

	}
	.content {
		width:910px;
		height: 300px;
		margin: 5px;
		outline: red solid 1px;
	}
	&.masked {

	}
}

@import "isotope.less";