//* MIXINS *//

//* COLORS *//

// * CSS *//

html {
	&.pop {
		background: #011520;
	}
}
body {
	background: transparent;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
a {
	color: #ffe821;
}
.clr {
	clear:both;
}

#wrapper {
	margin: 0 auto;
	width: 1020px;
	position: relative;
}

#articles {
	width: 940px;
	margin: 0 auto;
	outline: green solid 1px;
}
.article {
	&.preview {
		margin: 5px;
		outline: blue solid 1px;
		&.size1x1 {
			width: 220px;
			height: 220px;
		}
		&.size1x2 {
			width: 220px;
			height: 450px;
		}
		&.size2x1 {
			width: 450px;
			height: 220px;
		}
		&.size2x2 {
			width: 450px;
			height: 450px;
		}
		&.linked {
			cursor: pointer;
		}
		&.unlinked {
			cursor: default;
		}
		&.disabled {
			background: #ddd;
		}

	}
	&.open {
		width:920px;
		height: 300px;
		margin: 5px;
		outline: red solid 1px;
	}
}

@import "isotope.less";