html.pop{background:#011520;}
body{background:transparent;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
.clr{clear:both;}
#header{position:fixed;top:0;min-height:171px;width:100%;z-index:2;background:white;outline:black solid 1px;background:transparent url(../images/nav_bg.png) repeat-x;}
#header #nav{max-width:940px;min-width:450px;min-height:171px;margin:0 auto;background:transparent url(../images/nav_logo.png) no-repeat top right;padding:0;}#header #nav #title{display:block;font-size:25px;color:white;position:relative;top:100px;font-weight:bold;text-align:center;}
#header #nav ul{position:relative;top:105px;max-width:650px;min-width:450px;padding:0;margin:0 auto;}#header #nav ul li{list-style-type:none;float:right;}
#wrapper{margin:191px auto 0 auto;max-width:1020px;position:relative;z-index:1;}
#articles{max-width:940px;min-width:450px;margin:0 auto;}
.article .hover{display:none;}
.article .disabled{display:none;}
.article .mask{display:none;}
.article .mobile{display:none;}
.article.preview.size1x1 .preview{width:220px;height:220px;}
.article.preview.size1x1 .hover{width:220px;height:220px;}
.article.preview.size1x1 .disabled{width:220px;height:220px;}
.article.preview.size1x1 .mobile{width:218px;}.article.preview.size1x1 .mobile .text{width:168px;}
.article.preview.size1x1 .mask{width:220px;height:220px;}
.article.preview.size1x2 .preview{width:220px;height:460px;}
.article.preview.size1x2 .hover{width:220px;height:460px;}
.article.preview.size1x2 .disabled{width:220px;height:460px;}
.article.preview.size1x2 .mobile{width:218px;}.article.preview.size1x2 .mobile .text{width:168px;}
.article.preview.size1x2 .mask{width:220px;height:460px;}
.article.preview.size2x1 .preview{width:460px;height:220px;}
.article.preview.size2x1 .hover{width:460px;height:220px;}
.article.preview.size2x1 .disabled{width:460px;height:220px;}
.article.preview.size2x1 .mobile{width:458px;}.article.preview.size2x1 .mobile .text{width:408px;}
.article.preview.size2x1 .mask{width:460px;height:220px;}
.article.preview.size2x2 .preview{width:460px;height:460px;}
.article.preview.size2x2 .hover{width:460px;height:460px;}
.article.preview.size2x2 .disabled{width:460px;height:460px;}
.article.preview.size2x2 .mobile{width:458px;}.article.preview.size2x2 .mobile .text{width:408px;}
.article.preview.size2x2 .mask{width:460px;height:460px;}
.article.preview .preview{margin-bottom:20px;}.article.preview .preview p{padding:0;margin:0;}
.article.preview.disabled .disabled{display:block;position:absolute;top:0;left:0;background:white;opacity:0.5;}
.article.preview.enabled .disabled{display:none;}
.article.preview.linked{cursor:pointer;}.article.preview.linked .hover{position:absolute;top:0;left:0;background:black;opacity:0.8;display:none;z-index:2000;}.article.preview.linked .hover .hovercontent{color:white;height:100%;width:100%;opacity:1;}
.article.preview.linked .mobile{position:absolute;bottom:20px;left:0px;height:48px;border:#4aa82e solid 1px;background:#ffffff url(../images/mobile_link.png) top left no-repeat;}.article.preview.linked .mobile .text{height:28px;position:absolute;right:0;color:#4aa82e;direction:rtl;line-height:28px;padding:10px;}
.article.preview.linked:hover .hover{display:block;}
.article.preview.unlinked{cursor:default;}.article.preview.unlinked .hover{display:none !important;}
.article.preview.unlinked .mobile{display:none !important;}
.article.preview.masked .mask{position:absolute;top:0;left:0;background:white;opacity:0.5;display:block;}
.article.preview.masked:hover.linked .mask{display:none;}
.article.preview.masked:hover.linked .hover{display:block !important;}
.article.content .content{position:relative;width:938px;min-height:582px;border:solid 1px #8c9299;margin-bottom:20px;margin-top:20px;}.article.content .content .close{position:absolute;top:-20px;right:0;width:50px;height:20px;direction:rtl;background:#4aa82e;text-align:center;color:white;font-weight:bold;cursor:pointer;}
.article.content .mobile{display:none !important;}
.article.content .hover{display:none !important;}
ul.slidesjs-pagination{direction:rtl;position:absolute;bottom:30px;right:10px;margin:0;padding:0;z-index:100;}ul.slidesjs-pagination li{list-style-type:none;display:inline-block;width:10px;height:10px;margin:0 0 0 3px;}ul.slidesjs-pagination li a{display:block;width:10px;height:0px;background:transparent url(../images/sprites.png) no-repeat 0px 0px;overflow:hidden;padding-top:10px;}ul.slidesjs-pagination li a.active{background:transparent url(../images/sprites.png) no-repeat -14px 0px;}
.isotope-item{z-index:2;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform, opacity;}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;}
