.page.secondary
	.page-header 
		.page-header-content
			h1 Article Editor
				small &nbsp;
			a.back-button.big.page-back(href="#/main")
.page
	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-green(style="position:relative;height:40px;")							
							.a(style="position:absolute;left:5px;top:5px;")
								i.icon-clipboard-2.white
								span.white Article Preview Editor						
						#closedEditorWrapper
							#upperForm
								.colorPicker(ng-click="toggleColor('closed')", class="{{editor.closed.colorPickerClass}}")
								input.bg-color-green.white.name(type="text", placeholder="article name", ng-model="editor.data.name", style="width:150px;")																
								select.bg-color-green.white.type(width="150", style="width:100px;", ng-model="editor.data.preview.type")									
									option(value="text") text
									//option(value="video") video
									option(value="flash") flash
									option(value="iframe") iframe
									option(value="image") image
								select.bg-color-green.white(width="150", style="width:150px;", size="3", multiple, ng-multiple="true", ng-model="editor.categories", ng-options="cat for cat in categories | remove:'all'")
								select.bg-color-green.white(width="150", style="width:100px;", ng-model="editor.data.preview.size")									
									option(value="1x1") 1x1
									option(value="1x2") 1x2
									option(value="2x2") 2x2
									option(value="2x1") 2x1																	
								select.bg-color-green.white(width="150", style="width:100px;", ng-model="editor.data.preview.link.type")									
									option(value="none") none
									option(value="inner") inner
									option(value="external") external
								input.bg-color-green.white(type="text", style="width:150px;", placeholder="mouse over title", ng-model="editor.data.preview.link.text", ng-show="checkLinkType('text')")
								input.bg-color-green.white(type="text", style="width:150px;", placeholder="url", ng-model="editor.data.preview.link.url", ng-show="checkLinkType('url')")
							#leftSide
								#textPreview(ui-if="editor.data.preview.type == 'text'")
									textarea#editorClosed.tinyEditor(ui-tinymce="editor.tinymceOptions", ng-model="editor.tempContent.preview.text", rows="15", cols="80", width="700", style="width:700px !important")								
								#flashPreview(ng-show="editor.data.preview.type == 'flash'")
									input(type="text", ng-model="editor.tempContent.preview.flash.url", placeholder="url to swf file", style="width:300px;")
									input(type="file", accept="application/x-shockwave-flash", onchange="angular.element(this).scope().handleFile('preview', 'flash', this.files[0])") 
									span {{ uploadprogress }}
									select(width="250", style="width:250px;", size="5", ng-model="editor.tempContent.preview.flash.data", ng-options="swf.hashName as swf.fileName for swf in editor.files.flash")
								#iframePreview(ng-show="editor.data.preview.type == 'iframe'")
									input(type="text", ng-model="editor.tempContent.preview.iframe", placeholder="url to external link", style="width:300px;")
								#imagePreview(ng-show="editor.data.preview.type == 'image'")									
									input(type="file", accept="image/*", onchange="angular.element(this).scope().handleFile('preview', 'image', this.files[0])") 
									span {{ uploadprogress }}
									#previewImages(ui-sortable="{ axis:'x'}", ng-model="editor.tempContent.preview.image")
										.previewImage(ng-repeat="image in editor.tempContent.preview.image", style="position:relative; float:left; width:100px; height:140px; margin:10px; overflow:hidden; border:solid red 1px")
											img(ng-src="{{ host }}images/imgs/{{image.hashName}}", width="100", height="100")
											span(ng-click="removeImage('preview', image)", style="cursor:pointer;") X
											.br 
											span {{ image.fileName }}	
							#rightSide													
						h3.padding5.bg-color-green(style="position:relative; height:40px;margin-top:10px;", ng-show="editor.data.preview.link.type == 'inner'")							
							.a(style="position:absolute;left:5px;top:5px;")
								i.icon-clipboard-2.white
								span.white Article Content Editor
						#openEditorWrapper(ng-show="editor.data.preview.link.type == 'inner'")
							#leftSide								
								#textContent(ui-if="editor.data.content.type == 'text'")									
									textarea#editorOpen.tinyEditor(ui-tinymce="editor.tinymceOptions", ng-model="editor.tempContent.content.text", rows="15", cols="80", width="700", style="width:700px !important")
								#videoContent(ui-if="editor.data.content.type == 'video'")
									input(type="text", ng-model="editor.tempContent.content.video.id", placeholder="youtube video id", style="width:300px;")
									img(ng-src="{{ editor.tempContent.content.video.icon }}", width="32", height="32")
									//icon-checkmark
									.br
									button(ng-click="checkVideo('content')") Check Video
								#flashContent(ng-show="editor.data.content.type == 'flash'")
									input(type="text", ng-model="editor.tempContent.content.flash.url", placeholder="url to swf file", style="width:300px;")
									input(type="file", accept="application/x-shockwave-flash", onchange="angular.element(this).scope().handleFile('content', 'flash', this.files[0])")
									span {{ uploadprogress }}
									select(width="250", style="width:250px;", size="5", ng-model="editor.tempContent.content.flash.data", ng-options="swf.hashName as swf.fileName for swf in editor.files.flash")
								#iframeContent(ng-show="editor.data.content.type == 'iframe'")									
									input(type="text", ng-model="editor.tempContent.content.iframe", placeholder="url to external link", style="width:300px;")									
								#imageContent(ng-show="editor.data.content.type == 'image'")									
									input(type="file", accept="image/*", onchange="angular.element(this).scope().handleFile('content', 'image', this.files[0])") 
									span {{ uploadprogress }}
									#contentImages(ui-sortable="{ axis:'x'}", ng-model="editor.tempContent.content.image")
										.contentImage(ng-repeat="image in editor.tempContent.content.image", style="position:relative; float:left; width:100px; height:140px; margin:10px; overflow:hidden; border:solid red 1px")
											img(ng-src="{{ host }}images/imgs/{{image.hashName}}", width="100", height="100")
											span(ng-click="removeImage('content', image)", style="cursor:pointer;") X
											.br 
											span {{ image.fileName }}
							#rightSide
								.colorPicker(ng-click="toggleColor('open')", class="{{editor.open.colorPickerClass}}")
								select.bg-color-green.white(width="150", style="width:150px;", ng-model="editor.data.content.type")									
									option(value="text") text
									option(value="video") video
									option(value="flash") flash
									option(value="iframe") iframe
									option(value="image") image
								input.bg-color-green.white(type="text", style="width:150px;", placeholder="title", ng-model="editor.data.sidebar.title")
								textarea.bg-color-green.white(rows="5", cols="80", width="150", style="width:150px !important", placeholder="description", ng-model="editor.data.sidebar.description")
								input.bg-color-green.white(type="text", style="width:150px;", placeholder="url", ng-model="editor.data.sidebar.readMore.url")
								input.bg-color-green.white(type="text", style="width:150px;", placeholder="url title", ng-model="editor.data.sidebar.readMore.title")	
					button(ng-click="saveContent()") {{ articleButtonMode }}
					pre(ng-bind="editor.data | json")
					//pre(ng-bind="editor.categories | json")
					//pre(ng-bind="editor.tempContent.preview.image | json")