.page.secondary
	.page-header 
		.page-header-content
			h1 Content Editor
				small &nbsp;
			a.back-button.big.page-back(href="#/main")
.page
	.page-region
		.page-region-content
			.grid
				.row
					.span12
						h1 Closed Editor
						#closedEditorWrapper
							#leftSide
								textarea#editorClosed.tinyEditor(ui-tinymce="editor.tinymceOptions", ng-model="editor.data.preview.content", rows="15", cols="80", width="700", style="width:700px !important")
							#rightSide
								.colorPicker(ng-click="toggleColor('closed')", class="{{editor.closed.colorPickerClass}}")
								select(width="150", style="width:150px;", size="5", multiple, ng-multiple="true", ng-model="editor.categories", ng-options="cat for cat in categories | remove:'all'")									
									//- option(ng-repeat="cat in categories", value="{{ cat }}") {{ cat }}	
								select(width="150", style="width:150px;", ng-model="editor.data.preview.type")									
									option(value="text") text
									option(value="video") video
									option(value="flash") flash
									option(value="iframe") iframe
									option(value="image") image
								select(width="150", style="width:150px;", ng-model="editor.data.preview.size")									
									option(value="1x1") 1x1
									option(value="1x2") 1x2
									option(value="2x2") 2x2
									option(value="2x1") 2x1																	
								select(width="150", style="width:150px;", ng-model="editor.data.preview.link.type")									
									option(value="none") none
									option(value="inner") inner
									option(value="external") external
								input(type="text", style="width:150px;", placeholder="mouse over title", ng-model="editor.data.preview.link.text", ng-show="checkLinkType('text')")
								input(type="text", style="width:150px;", placeholder="url", ng-model="editor.data.preview.link.url", ng-show="checkLinkType('url')")
						h1 Open Editor
						#openEditorWrapper(ng-show="editor.data.preview.link.type == 'inner'")
							#leftSide
								textarea#editorOpen.tinyEditor(ui-tinymce="editor.tinymceOptions", ng-model="editor.data.content.content", rows="15", cols="80", width="700", style="width:700px !important")
							#rightSide
								.colorPicker(ng-click="toggleColor('open')", class="{{editor.open.colorPickerClass}}")
								select(width="150", style="width:150px;", ng-model="editor.data.content.type")									
									option(value="text") text
									option(value="video") video
									option(value="flash") flash
									option(value="iframe") iframe
									option(value="image") image
								input(type="text", style="width:150px;", placeholder="title", ng-model="editor.data.sidebar.title")
								textarea(rows="5", cols="80", width="150", style="width:150px !important", placeholder="description", ng-model="editor.data.sidebar.description")
								input(type="text", style="width:150px;", placeholder="url", ng-model="editor.data.sidebar.readMore.url")
								input(type="text", style="width:150px;", placeholder="url title", ng-model="editor.data.sidebar.readMore.title")	
					button(ng-click="saveContent()") Save
					pre(ng-bind="editor.data | json")
					//pre(ng-bind="editor.categories | json")