.page.secondary
	.page-header 
		.page-header-content
			h1 Lists Editor
				small &nbsp;
			a.back-button.big.page-back(href="#/main")
.page
	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-green.progress-bar(style="height:40px;")							
							.a(style="position:absolute;left:5px;top:15px;")
								i.icon-list.white
								span.white Lists Editor
							select.bg-color-green.white(ng-model="filter.category", style="position:absolute; top:15px; right:5px;")
								option(value="0", disabled) Select Category
								option(ng-repeat="cat in categories", value="{{ cat }}") {{ cat }}
						#listsPreviewWrapper(ui-if="categoriesLoaded")							
							#listsIsotop(ui-isotope, options='{"itemSelector":".listItem", "animationEngine":"best-available", "masonry": { "columnWidth": 150, "gutterWidth": 5} }')
								//.listItem(ng-repeat="item in category[filter.category]", rel="{{item.categories}}", id="item_{{item._id}}", ng-class="getCategory($index)")
								.listItem(ng-repeat="item in isotopeContent", rel="{{item.categories}}", id="item_{{item._id}}", ng-class="getCategory($index)")
									.name {{ item.name }}									
									.iconWrapper
										h1.icon(ng-class="getListsItemIcon(item)")
								.clear
						//- ul#listWrapper(ui-sortable="sortableOptions", ng-model="category[filter.category]")
						//- 	//- li.itemInList(ng-repeat="item in category[filter.category] | orderBy:orderCategories") {{ item.name}}
						//- 	li.itemInList.bg-color-green.white(ng-class="{'icon-arrow-down':$first, 'icon-arrow-up':$last, 'icon-menu':$middle}", style="width:200px;", ng-repeat="item in category[filter.category]") {{ item.name }}

						ul#listWrapper.listview(ui-sortable="sortableOptions", ng-model="category[filter.category]")
							li.itemInList.bg-color-green(ng-repeat="item in category[filter.category]")
								.move(ng-class="{'icon-arrow-down':$first, 'icon-arrow-up':$last, 'icon-menu':$middle}")
								h2.icon.white(ng-class="getListsItemIcon(item)")
								.data
									span {{ item.name }}
									br
									span(style="color:#000;") {{ item.sidebar.title }}

						br	
						button(ng-click="previewNewList()") Preview
						button(ng-click="saveLists()", ng-disabled="showListsSaveButton") Save	
						
						//- pre(ng-bind="category[filter.category] | json | orderBy:cat.categories[filter.category]")

						//- span(ng-repeat="cat in category[filter.category] | orderBy:orderCategories")
						span(ng-repeat="cat in category[filter.category]")
							.s {{ cat.categories[filter.category] }} {{ cat.name }}
						
						//- h3.padding5.bg-color-red.fg-color-white
						//- 	i.icon-user-2
						//- 	span  Cookies
						//- table.bg-color-red.fg-color-white
						//- 	thead
						//- 		tr
						//- 			th image
						//- 			th name
						//- 			th number of votes
						//- 			th link
						//- 	tbody
						//- 		tr(ng-repeat="user in users")
						//- 			td.padding5(style="width: 50px")
						//- 					img(ng-src="/images/cookie_{{user.name}}.png", width="50")
						//- 			td {{user.name}}	
						//- 			td(style="width: 100px;") {{user.votes}}
						//- 			td(style="text-align: center; width: 30px;")
						//- 				a(href="#/nominee/{{user._id}}", style="color: black; text-align-center;")
						//- 					i.icon-eye.fg-color-black
