.page.secondary
	.page-header 
		.page-header-content
			h1 Lists Editor
				small &nbsp;
			a.back-button.big.page-back(href="#/main")
.page
	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-green.progress-bar(style="height:40px;")							
							.a(style="position:absolute;left:5px;top:15px;")
								i.icon-list.white
								span.white Lists Editor
							button(ng-click="saveLists()", ng-disabled="disableListsSaveButton", style="left:420px;") Save
							select.bg-color-green.white(ng-model="filter.category", style="position:absolute; top:15px; right:5px;")
								option(value="0", disabled) Select Category
								option(ng-repeat="cat in categories", value="{{ cat }}") {{ settings.categories[cat] }}
						#listsPreviewWrapper(ui-if="isotopeValid()")
							#listsIsotope(ui-isotope, options='{"itemSelector":".listItem", "animationEngine":"best-available", "masonry": { "columnWidth": 150, "gutterWidth": 5} }')
								.listItem(ng-repeat="item in isotopeContent.copy", rel="{{item.categories}}", id="item_{{item._id}}", ng-class="getCategory($index)")
									.name {{ item.name }}
									.edit
										a.font12(href="/admin#/editor/{{item._id}}", title="Edit Article")
											.icon-pencil
									.iconWrapper
										h1.icon(ng-class="getListsItemIcon(item)")									
								.clear
						ul#listWrapper.listview(ui-sortable="sortableOptions", ng-model="categoryCopy[filter.category]")
							li.itemInList.bg-color-green(ng-repeat="item in categoryCopy[filter.category]")
								.move(ng-class="{'icon-arrow-down':$first, 'icon-arrow-up':$last, 'icon-menu':$middle}")
								h2.icon.white(ng-class="getListsItemIcon(item)")
								.data
									span {{ item.name }}
									br
									span(style="color:#000;") {{ item.sidebar.title }}						