.page
	.page-header 
		.page-header-content
			h1 Skoda Rapid admin
				small &nbsp;

	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-green(style="height:40px;")
							i.white.icon-clipboard-2
							span.white Articles
						#newArticleButton
							a((href="#/editor"))
								button Create New Article
						.paginationWrapper
							pagination.pagination-centered(boundary-links="true", num-pages="pagination.main.pages", current-page="pagination.main.page", max-size="pagination.main.total", previous-text="&laquo;", next-text="&raquo;", first-text="&laquo;&laquo;", last-text="&raquo;&raquo;")
						table.bg-color-green
							thead
								tr
									th.white.bold.center name
									th.white.bold.center title
									th.white.bold.center description
									th.white.bold.center categories
									th.white.bold.center preview type
									th.white.bold.center content type
									th.white.bold.center date created
									th.white.bold.center status
									th.white.bold.center actions
									th.white.bold.center edit
									th.white.bold.center delete
							tbody
								//tr(ng-repeat="item in content | startFrom:currentPage*pageSize | limitTo:pageSize")
								tr(ng-repeat="item in content | startFrom:(pagination.main.page - 1)*pagination.main.total | limitTo:pagination.main.total")
									td.font12.white {{ item.name }}
									td.font12.white {{ item.sidebar.title }}
									td.font12.white {{ item.sidebar.description }}
									td.font12.white.center {{ item.categories | remove:'all' | categories}}
									td.font12.white.center {{ item.preview.type }}									
									td.font12.white.center {{ item | contentType }}
									td.font12.white.center {{ getDateById(item._id) | date:'dd/MM/yyyy HH:mm' }}
									td.font12.white.center {{ item.status | status }} 
										span.font12.white.center (
										a.font12(ng-click="toggleStatus(item._id)") {{ !item.status | status }}
										span )
									td.font12.center
										a.font12(ng-click="itemPreview(item._id)") preview
									td.font12.center
										a.font12(href="/admin#/editor/{{item._id}}") edit
									td.font12.center
										a.font12(ng-click="deleteArticle(item._id)")
											i.icon-remove.white.center.link
						.paginationWrapper
							pagination.pagination-centered(boundary-links="true", num-pages="pagination.main.pages", current-page="pagination.main.page", max-size="pagination.main.total", previous-text="&laquo;", next-text="&raquo;", first-text="&laquo;&laquo;", last-text="&raquo;&raquo;")