.page
	.page-header 
		.page-header-content
			h1 Skoda Rapid admin
				small &nbsp;

	.page-region
		.page-region-content
			.grid
				.row
					.span4(style="width:100%;")
						h3.padding5.bg-color-green(style="height:40px;")
							i.white.icon-clipboard-2
							span.white Articles ({{ content.length }})
						#mainFilters
							a((href="#/editor"))
									button Create New Article
							.freeText
								span Select By Name / Title
								input(type="text", placeholder="search article", ng-model="filters.text", style="margin-bottom:5px; width:250px")								
							.previewType
								span Select By Preview Type:
								select.bg-color-green.white(ng-model="filters.preview")
									option(value="0") all
									option(value="text") text
									option(value="iframe") iframe
									option(value="flash") flash
									option(value="image") image
							.contentType
								span Select By Content Type:
								select.bg-color-green.white(ng-model="filters.content")
									option(value="0") all
									option(value="text") text
									option(value="iframe") iframe
									option(value="video") video
									option(value="flash") flash
									option(value="image") image
							.status
								span Select By Status:
								select.bg-color-green.white(ng-model="filters.status")
									option(value="0") all
									option(value="true") enabled
									option(value="false") disabled
							.categories
								span Select By Categories:
								select.bg-color-green.white.categories(size="3", multiple, ng-multiple="true", ng-model="filters.categories", ng-options="key as value for (key,value) in settings.categories")
						.paginationWrapper
							pagination.pagination-centered(boundary-links="true", num-pages="pagination.main.pages", current-page="pagination.main.page", max-size="pagination.main.total", previous-text="&laquo;", next-text="&raquo;", first-text="&laquo;&laquo;", last-text="&raquo;&raquo;")						
						table.bg-color-green
							thead
								tr
									th.white.bold.center name
									th.white.bold.center title
									//- th.white.bold.center description
									th.white.bold.center categories
									th.white.bold.center preview type
									th.white.bold.center content type
									th.white.bold.center date created
									th.white.bold.center status
									th.white.bold.center edit
									th.white.bold.center delete
							tbody								
								tr(ng-repeat="item in content | articlesFilter | startFrom:(pagination.main.page - 1)*pagination.main.total | limitTo:pagination.main.total", ui-animate)
									td.font12.white {{ item.name }}
									td.font12.white {{ item.sidebar.title }}
									//td.font12.white {{ item.sidebar.description }}
									td.font12.white.center {{ item.categories | remove:'all' | categories}}
									td.font12.white.center {{ item.preview.type }}									
									td.font12.white.center {{ item | contentType }}
									td.font12.white.center {{ getDateById(item._id) | date:'dd/MM/yyyy HH:mm' }}
									td.font12.white.center {{ item.status | status }} 
										span.font12.white.center (
										a.font12(ng-click="toggleStatus(item._id)") {{ !item.status | status }}
										span )
									td.font12.center
										a.font12(href="/admin#/editor/{{item._id}}")
											i.icon-clipboard-2.white.center.link
									td.font12.center
										a.font12(ng-click="deleteArticle(item._id)")
											i.icon-remove.white.center.link
						.paginationWrapper
							pagination.pagination-centered(boundary-links="true", num-pages="pagination.main.pages", current-page="pagination.main.page", max-size="pagination.main.total", previous-text="&laquo;", next-text="&raquo;", first-text="&laquo;&laquo;", last-text="&raquo;&raquo;")